.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}
.link-text {
  list-style-type: none;
  margin: 5px;
}
.nav-link {
  text-decoration: none;
}
